body{
    background-color:#D5E1EF ;
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.maindiv{
    background-color: white;
    border-radius: 20px;
    width: 320px;
    height: 499;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    box-shadow: 0 25px 25px  hsla(0, 0%, 0%, .05);
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}


.texts{
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 24px;
    text-align: center;
    
}

.title{
    font-size: 22px;
    font-weight: bold;
    color: 1F314F;
    padding-bottom: 0px;
    line-height: 120%;
    padding-top: 0px;
    margin: 0%;
    
}

.description{
    font-size: 15px;
    font-weight: lighter;
    color: 68778D;
    margin: 0px;
    margin-top: 16px;
    line-height: 140%;
    
    
}

.image{
    max-width: 100%;
    border-radius: 10px;
    padding: 0px;
}

*{
    box-sizing: border-box;
    -webkit-font-smooth:antialiased;
}
